body {
    background-image: url("images/background.png");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {color: blue;}
a:hover {color: aqua;}
a:active {color: chartreuse;}
a:visited {color: blueviolet;}

header {
    color: white;
    width: auto;
    text-align: center;
}

main {
    width: 100%;
    text-align: center;    
}

footer {
    text-align: center;
    color: white;
    background-color: #444444;
    border: 2px solid gray;
    padding: 10px;
    margin: 5px;
}

#products {
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    align-items: start;
}

.planet {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 500px;
    background-color: #dddddd;
    border: #444444;
    padding: 10px;
    margin: 5px;
}

.photo {
    width: 480px;
    margin: 10px;
    border-style: dotted;
    border-color: gray;
}

#mercury {
    background-color: orange;
    border-color: orangered;
    border-style: groove;
}
#venus {
    background-color: yellow;
    border-color: orange;
    border-style: groove;
}
#earth {
    background-color: lawngreen;
    border-color: green;
    border-style: groove;
}
#mars {
    background-color: red;
    border: brown;
    border-style: groove;
}
#jupiter {
    background-color: coral;
    border-color: chocolate;
    border-style: groove;
}
#saturn {
    background-color: burlywood;
    border-color: orange;
    border-style: double;
}
#uranus {
    background-color: aquamarine;
    border-color: cadetblue;
    border-style: double;
}
#neptune {
    background-color: dodgerblue;
    border-color: darkblue;
    border-style: groove;
}

#partners {
    text-align: left;
    background-color: #dddddd;
    border: 2px solid gray;
    padding: 10px;
    margin: 5px;
}

li:empty {
    color: red;
    list-style-type: georgian;
    background-color: black;
}

#personal {
    background-color: black;
    color: orangered;
}